@model List<Atos.Models.MeetingRoom>

@{
    ViewBag.Title = "Переговорные комнаты";
}

<div class="formRoomList">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-lg-6">
        <div class="createRoom">
            @Html.ActionLink("Добавить комнату", "CreateRoom", "OfficeManager")
        </div>
        <div class="roomList">
            @foreach (var room in Model)
            {
                <div class="MeetingRoom">
                    <div class="infoRoom">
                        @Html.ActionLink(room.NameRoom, "EditRoom", "OfficeManager", new { id = room.Id }, null)
                        <p>@room.NumberOfSeats мест</p>
                    </div>
                    <div class="imgRoom">
                        <div class="img">
                            @if (room.Projector)
                            {
                                <img src="~/Content/projector.jpg">

                            }
                        </div>
                        <div class="img">
                            @if (room.MarkerBoard)
                            {
                                <img src="~/Content/markerBoard.jpg">

                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

