@{
    ViewBag.Title = "Начальная страница";
}

<div class="infoIndex">
    <h1>Добро пожаловать!</h1>
    <h4>Приложение для бронирования переговорных комнат в офисе компании "Альфа".</h4>
    <p>Для начала работы войдите в приложение под своими учетными данными или зарегистрируйтесь.</p>
</div>