body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #e5e4e4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.roomList {
    overflow: auto;
    background: #4f4d4d;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 0 20px #000000;
}
.img {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 5px;
    vertical-align:top;
}
    .img img {
        max-height: 100%;
        width: auto;
        box-shadow: 0 0 10px #000000;
    }


.infoRoom {
    display: inline-block;
    float: left;
}

.imgRoom {
    display: inline-block;
    float: right;
}

.MeetingRoom {
    overflow:auto;
    background: linear-gradient(#8b8a8a, #b4b4b4);
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    font-style: oblique;
    box-shadow: 0 0 10px #000000;
}

    .MeetingRoom a {
        font-size: 17px;
        color: #000000;
        font-weight: 700;
    }

.footer{
    margin-left: 50px;
}

.equipmentImg {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 5px;
    vertical-align: top;
    box-shadow: 0 0 5px #000000;
}
    .equipmentImg img {
        max-height: 100%;
        width: auto;
        box-shadow: 0 0 10px #000000;
    }

.equipmentInfo {
    display: inline-block;
    vertical-align: bottom;
}

.nameRoom {
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
    margin-bottom: 20px;
}
.numberSeats{
    font-size: 16px;
    font-style: oblique;
}

.projector, .markerBoard {
    box-shadow: 0 0 5px #000000;
    margin:3px;
    background:#808080;
    color: #fff;
    font-style: oblique;
}

.timeImg {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 5px;
    vertical-align: top;
    box-shadow: 0 0 5px #000000;
}

    .timeImg img {
        max-height: 100%;
        width: auto;
        box-shadow: 0 0 10px #000000;
    }

.timeInfo{
    display: inline-block;
    vertical-align: bottom;
}

.createRoom {
    margin: 12px 0px;
    padding: 10px 0px;
}

    .createRoom a {
        color: #fff;
        background: linear-gradient(#000000, #393838);
        box-shadow: 0 0 10px #000000;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px 15px;
        text-decoration: none;
    }
    .createRoom a:hover {
        text-decoration: none;
        color: #fff;
    }
